# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment settings
.env
*.env

# Ignore IDE settings
.idea/
.vscode/

# Ignore dependency management
poetry.lock
Pipfile.lock

# Ignore system files
.DS_Store

/docs/*.*
